.body {
	background: blue;
}
.container {
	/*overflow: hidden;*/
	height: 1000px;
	width: 600px;
	margin-left: 300px;
	text-transform: lowercase;
	background: #ddd011;
}
.search {
	background: #e20c29
}
.textarea {
	overflow: hidden;
	display: flexbox;
	border: 1px solid;
	height: 209px;
	width: 100%;
	font-size: 200%;
	word-wrap: break-word;
	background: #ddd011;
}
.wrapper {
	border: none;
	color: #ddd011;
	height: 35px;
	width: 600px;
	float: right;
	background: #690815;
}
.btn {
	border: none;
	color: #ddd011;
	width: left;
	height: 35px;
	float: right;
	background: #e20c29;
}
.btn {
	border: none;
	color: #ddd011;
	width: left;
	height: 35px;
	float: right;
	background: #e20c29;
}
.btn {
	border: none;
	color: #ddd011;
	width: right;
	height: 35px;
	float: right;
	background: #e20c29;
}