#body {
	background: #999999;
}
.container {
	color: rgb(18, 82, 82);
	height: 400px;
	width: 400px;
	margin: 0 auto;
	text-align: center;
	background: #ddd011;
}
.button-inner {
	height: 40px;
	width: 200px;
	padding: 5px;
	font-size: 100%;
	text-align: center;
	background: #96925e;
	border-bottom: 1px solid black;
}
.button-outer {
	margin: 5px;
	color: honeydew;
	background: green;
}
@media (max-width: 1000px){
	.container {
		position: absolute;
		height: 100%;
		width: 100%;
	}
}